body {
  font: 13px 'PT Serif', Georgia, Times, 'Times New Roman', serif;
}
h1, h2, h3, h4, h5 {
  margin-top: 1.5em;
}

a {
  color: #111;
  text-decoration: none;
}
a:hover {
  color: #00438A;
  text-decoration: underline;
}

ul, ol, p {
  line-height: 26px;
}

ul {
  list-style-type: circle;
}
img {
  border: 1px solid #eee;
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}
video {
  max-width: 100%;
}

/* layout */
#page {
  max-width: 780px;
  margin: auto;
}
#page h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: .2em;
}

/* header */
#header h1 {
  text-transform: uppercase;
}

/* main */
#tag-box {
  list-style: none;
  padding-left: 0;
}
#tag-box li {
  display: inline-block;
}
#tag-box li a {
  display: block;
  padding: 1px 8px;
  margin: 3px;
  background: #EEE;
  line-height: 18px;
  border-radius: 3px;
  text-decoration: none;
}

/* archive */
.date {
  font-family: Monaco, "Courier New", monospace;
  font-size: 90%;
  color: #5b5b5b;
  text-transform: uppercase;
}

/* code */
pre code {
  font-size: 85%;
  overflow-x: auto;
}

/* footer */
#footer {
  margin-top: 20px;
  border-top: 1px solid #eee;
  text-align: right;
  line-height: 28px;
  color: #333;
}

/* beside */
.bgsound {
  position: fixed;
  left: 5px;
  bottom: 5px;
}
.bgsound button {
  border: none;
  background: #eee;
  border-radius: 2px;
  padding: 2px 10px;
  color: #333;
  cursor: pointer;
}
.bgsound button:disabled {
  color: #aaa;
}


/* highlight.js */ 
pre .keyword,
pre .id,
pre .phpdoc,
pre .title,
pre .built_in,
pre .aggregate,
pre .css .tag,
pre .javadoctag,
pre .phpdoc,
pre .yardoctag,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .go .typename,
pre .tex .command,
pre .markdown .strong,
pre .request,
pre .status {
  font-weight: normal;
}
